<h1>
  Login!</h1>
<div class="container">
  <div *ngIf="!validation" class="alert alert-warning">
    <p>validation error displayed</p>
  </div>
  <div>
    <fieldset>
    <label>UserName</label>  
    <input type="text" [(ngModel)]="username" name="username" type="text">
  </fieldset> 
   <label>password</label>
    <input type="password" name="password" [(ngModel)]="password" type="password">
     <input type="button" (click)="onSubmit()" class="btn btn-success" value="submit">
  </div>
</div>